@model CompanyLibrary.Website.Models.Book

@{
    var title = Model.Title + " by " + Model.Author;
    ViewData["Title"] = title;
}

<h2>Details</h2>

<div>
    <h4>@title</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
    <hr />
    <div>
        <h4>Borrowings history</h4>
        <div class="container">
            @await Component.InvokeAsync("BookHistory", new { book = Model })
        </div>
    </div>
</div>

<div>
    @if (Context.User.Identity.IsAuthenticated && Model.AddedBy != null && Context.User.Identity.Name == Model.AddedBy.UserName)
    {
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-info">Edit</a>
    }
    <a asp-action="Index" class="btn btn-default">Back to List</a>
</div>
