@model IEnumerable<CompanyLibrary.Website.Models.Book>

@{
    ViewData["Title"] = "All books";
}

<h2>All books</h2>

@if (Context.User.Identity.IsAuthenticated)
{
    <p>
        <a asp-action="Create" class="btn btn-success"><span class="glyphicon glyphicon-new-window"></span> Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @if (item.Availability == Availability.Available)
                    {
                    <a asp-action="Borrow" asp-route-id="@item.Id" class="btn btn-success"><span class="glyphicon glyphicon-shopping-cart"></span> Borrow</a>
                    }
                    else
                    {
                        <button class="btn btn-default" disabled>Not available</button>
                    }
                </td>
                <td>
                    <div class="btn-group btn-group-sm btn-group-vertical">
                        @if (Context.User.Identity.IsAuthenticated && item.AddedBy != null && Context.User.Identity.Name == item.AddedBy.UserName)
                        {
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning"><span class="glyphicon glyphicon-edit"></span> Edit</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Delete</a>
                        }
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info"><span class="glyphicon glyphicon-align-justify"></span> Details</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
